.Calculator {
  text-align: center;
}

.Calculator-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Calculator-error-input {
  padding-left: 10pt;
  border: 2px solid red;
  border-radius: 2px;
}
.Calculator-input {
  padding-left: 10pt;
}
.Calculator-p {
  font-size: medium;
}

.Calculator-link {
  color: #61dafb;
}
